.products{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.prod_card_img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width : 450px;
    max-height: 450px;
    margin : 2rem 2rem;

}

.prod_card_img img{
    min-width: 100%;
    min-height: 100%;
}
.prod_card_img img:hover{
    filter:brightness(90%);
    scale: 1.2;
}

.product_card{
    position: relative;
}

.info {
    position: absolute;
    margin-left : 2rem;
}

.prod_title {
    margin-top: 4rem;
    font-size: 3rem;
    color : var(--primary-yellow);
    font-family: Namu;
}
.prod_code{
    font-size: 2rem;
    color : var(--primary-red);
    font-family: 'Chomsky';
}
.products_title{
    text-align: center;
    font-size: 8rem;
    color : var(--primary-yellow);
    font-family: 'Chomsky';
}

@media (max-width:768px){
    .products_title {
        font-size:4rem;
    }
}