:root{
  --primary-yellow : #b6f818;
  --primary-black : #000000;
  --primary-red : #fe2107;
  --primary-gray: gray;
  --footer-background : var(--primary-black);


  --small-breaking-point: 768px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;